#build-status-card {
    margin-bottom: 1em;
    background-color: var(--md-default-bg-color--lighter);
    border-style: solid;
    border-width: 0.05rem;
    border-radius: 0.1rem;
    border-color: var(--md-default-fg-color--light);
    padding: 10px
}

#build-status-title {
    font-weight:400;
    margin-bottom: 0;
}